.btn {
  &:link,
  &:visited {
    /*sudo class*/
    /* cuz we gonna have mutiple buttons*/
    text-transform: uppercase;
    text-decoration: none; /* to delete that underlines of <a/>*/
    padding: 1.5rem 4rem; /* 15 top button, rest left & right .. this is to make button looks big*/
    display: inline-block; /* display it as an inline block*/ //https://stackoverflow.com/questions/24090595/css-animation-doesnt-work-with-inline-display-property
    border-radius: 10rem;
    font-size: $default-font-size;

    transition: all 0.2s; /* to apply animation here (similar to using keyframes)*/
  }

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba($color-black, 0.2); /* 1 for x, 2 for y, 3 if + means down*/
  }

  &:active {
    /* when clicked*/
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 1rem rgba($color-black, 0.2);
  }

  &--white {
    background-color: $color-white;
    color: $color-grey;
  }

  &--animated {
    animation: moveInBottom 2s 0.5s; /*0.5s delay*/
    animation-fill-mode: backwards; /*apply the animation for the 0% it's defined to */
  }
}

.btn-text {
  &:link,
  &:visited {
    font-size: $default-font-size;
    color: $color-dark-red;
    text-decoration: none; /* to delete that underlines of <a/>*/
    display: inline-block; //https://stackoverflow.com/questions/24090595/css-animation-doesnt-work-with-inline-display-property // so we can use on it padding, margin, all tese kind of stuffs
    border-bottom: 0.1rem solid $color-dark-red;
    padding: 0.3rem;

    transition: all 0.2s; /* to apply animation here (similar to using keyframes)*/
  }
  &:hover {
    background-color: $color-dark-red;
    color: white;
    box-shadow: 0 1rem 2rem rgba($color-black, 0.2); /* 1 for x, 2 for y, 3 if + means down*/
    transform: translateY(-2px);
  }
  &:active {
    transform: translateY(0px);
    box-shadow: 0 0.5rem 1rem rgba($color-black, 0.2);
  }
}
