/*
COLORS:
Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485
*/

$color-grey: #777;
$color-grey-light-1: #e7e4e4;
$color-grey-light-2: #eee;
$color-white: #fff;
$color-dark-blue: #c40c1b;
$color-very-dark-red: #850404;
$color-dark-red: #1425be;
$color-very-dark-blue: #192277;
$color-black: #000;
$color-greyed-blue: #4e4469;
$color-greyed-green: #1ce036;

$default-font-size: 1.6rem;

$grid-width: 140rem;
$gutter-vertical: 5rem;
$gutter-vertical-small: 2rem;
$gutter-horizontal: 8rem;
