@keyframes moveInLeft {
  0% {
    /* from start */
    opacity: 0;
    transform: translateX(-10rem);
  }

  100% {
    /* to end */
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveInRight {
  0% {
    /* from start */
    opacity: 0;
    transform: translateX(10rem);
  }

  100% {
    /* to end */
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveInBottom {
  0% {
    /* from start */
    opacity: 0;
    transform: translateY(10rem);
  }

  100% {
    /* to end */
    opacity: 1;
    transform: translateY(0);
  }
}
